.wrapper {
    margin-left: auto;
    margin-right: auto;
    background: #F0F8FF;
    padding: 10px;
  }
  
  body {
    width: 70%;
    margin: 0 auto;
    background: #bacbdb;
  }
  
  h1 {
    text-align: center;
    background: #5BBCFF; /*virsrakstiem */
    padding: 5px;
    font-weight: bold; /* Treknraksts */
  }
  
  h2 {
    color: #FF5733;
  }
  
  ul {
    text-align: center;
    padding: 0px;
  }
  
  li {
    display: inline-block;
  }
  
  .block {
    display: inline-block;
    background: crimson;
    width: 100px;
    height: 100px;
    border: 1px solid rgb(116,1,1);
    text-align: center;
    margin: 5px;
    font-size: 45px;
    vertical-align: top;
  }
  
  .game {
    width: 500px;
    background: black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  .block div {
    display: none;
  }
  
  table {
    width: 100%;
  }
  
  table td {
    border: 1px solid gray;
  }
  
  #jauns {
    background-color: rgb(23, 113, 136);
  }
  
  
  label {
    font-weight: bold; /* Treknraksts */
    color: #142235;
  }
  
  input[type="text"], input[type="email"], select {
    background-color: #E8E8E8;
    border: 1px solid #ccc;
    padding: 5px;
  }
  
  button {
    background-color: #5BBCFF; /* Mainīta krāsa pogai */
    border-radius: 10px; /* Noapaļot */
    padding: 10px;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #073655; /* Krāsa uzbraucot ar peli */
  }
  
  table th {
    font-weight: bold; /* Treknraksts */
    color: #0f554f;
  }
  
  table td {
    color: #5d889c;
  }
  
  .temp-text {
    font-style: italic; /* Slīpraksts */
    color: #28dce2; /* Mainīta krāsa */
  }